body {	
	font-family: 'Open Sans', sans-serif;
	background-color: #f4f4ed;
}

header {
	padding-top: 60px;
	padding-bottom: 100px;
}

.custom_row {
	margin-left: -15px;
	margin-right: -15px;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;	
}

.navbar_brand {
	margin: 15px;
	font-weight: 600;
	font-size: 32px;	
	line-height: 34px;
	color: #1c1c19;
	text-decoration: none;
}

.navbar_brand span {
	display: block;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
}

.nav_toggle {
	display: block;
	margin-right: 15px;
}

.navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	display: none;
	background-color: #333;
	zoom: 1;
}

.navbar ul:before, .navbar ul:after {
	content: "";
	display: table;
}

.navbar ul:after {
	clear: both;
}

.navbar ul li {
	position: relative;
	display: block;	
	padding: 0;
	margin: 0;
}

.navbar ul li a {
	display: block;	
	box-sizing: border-box;	
	padding: 10px;
	font-size: 19px;
	font-weight: 400;
	color: #1c1c19;
	line-height: 23px;
	white-space: nowrap;
	text-decoration: none;
}

@media (min-width: 576px) {
	.navbar-brand {
		margin: 0;	
	}

	.navbar ul {
		position: static;
		display: block;		
		width: auto;
		zoom: 1;
		background-color: unset;
	}

	.navbar ul:before, .navbar ul:after {
		content: "";
		display: table;
	}

	.navbar ul li {
		display: inline-block;
	}

	.navbar ul li a {
		padding: 44px 10px;		
	}

	.nav_toggle {
		display: none;
	}
}

main {	
	min-height: 800px;
	padding-top: 50px;
	padding-bottom: 50px;
}

main h1, main article h1 {
	font-weight: 900;
	font-size:62px;	
	line-height: 64px;
	color: #1c1c19;
	margin-bottom: 85px;
}

main h2 {
	font-weight: 800;
	font-size:42px;	
	line-height: 44px;
	color: #1c1c19;
	margin-bottom: 25px;
}

main h3 {
	font-weight: 800;
	font-size:22px;	
	line-height: 36px;
	color: #1c1c19;
	margin-bottom: 25px;
}

main ul {
	list-style-type: none;
}

main ul li {
		padding: 3px 0;
}

main ul li a {
	font-weight: 400;
	font-size:22px;	
	line-height: 24px;
	color: #1c1c19;
}

main ul li a:hover {
	color: #5b140a;
}

article h1 {
	font-weight: 600;
	font-size: 24px;	
	line-height: 34px;
	margin-bottom: 5px;
}

article h2, article h3 {
	font-weight: 400;
	font-size: 24px;	
	line-height: 34px;
	margin-bottom: 35px;
}

article img {
	border: 1px solid #1c1c19;
	box-shadow: 5px 5px #1c1c19;
}

article p.date {
	margin-top: 0;
	margin-bottom: 50px;
}

article p {
	font-weight: 400;
	font-size: 22px;
	color: #1c1c19;
	line-height: 31px;
	margin-top: 50px;
	margin-bottom: 50px;
}

article p a {
	color: #1c1c19;
	font-weight: bold;
}

article ul {
	padding-left: 18px;
	list-style-type: disc;
}

article ul li {
	font-size: 22px;
	color: #1c1c19;
	margin-bottom: 10px;
}

footer {
	background-color: #2c2c2c;
	padding-top: 38px;
	padding-bottom: 24px;
	font-size: 17px;
	font-weight: 300;
	color: #fff;
	line-height: 26px;
	text-align: center;
}

footer a {
	color: #fff;
	text-decoration: none;
}