<div class="nav_outer">
<div class="container">
	<div id="menu-trigger">Menu
	<span class="toggle-button">
	    	<div class="menu-bar menu-bar-top"></div>
	    	<div class="menu-bar menu-bar-middle"></div>
	    	<div class="menu-bar menu-bar-bottom"></div>
	</span>
	</div>
	<nav id="menu-wrap">
	<ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="#">About Me</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Contact Me</a></li>
	</ul>
</div>
</div>