<div class="nav_outer">
<div class="container">
	<div id="menu-trigger">Menu
	<span class="toggle-button">
	    	<div class="menu-bar menu-bar-top"></div>
	    	<div class="menu-bar menu-bar-middle"></div>
	    	<div class="menu-bar menu-bar-bottom"></div>
	</span>
	</div>
	<nav id="menu-wrap">
	<ul>
		<li><a href="{{site.url}}">Home</a></li>
		<li><a href="{{site.url}}/about">About Me</a></li>
		<li><a href="{{site.url}}/services">Services</a></li>
		<li><a href="{{site.url}}/portfolio">Portfolio</a></li>
		<li><a href="{{site.url}}/contact">Contact Me</a></li>
	</ul>
</div>
</div>