
/* Index Page */
.top {
}
.top_border {
	height: 4px;
}
.top_border1 {
	background-color: #ff6517;
}
.top_border2 {
	background-color: #c2ba00;
}
.top_border3 {
	background-color: #00c1d2;
}
.top_border4 {
	background-color: #dd008a;
}
.top_border5 {
	background-color: #864300;
}
.top_border6 {
	background-color: #c2ba00;
}


header {
	padding-top: 36px;	
}

.nav_outer {
	background-color: #333333;
	margin-top: 30px;
}

nav {
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;	
}

nav ul:before, nav ul:after {
	content: "";
	display: table;
}

nav ul:after {
	clear: both;
}

nav ul {
	zoom: 1;
}

nav ul li {
	margin: 0;
	padding: 0 20px;
	float: left;
	border-right: 1px solid #222;
	position: relative;
}

nav ul li:first-child {
	border-left: 1px solid #222;
}

nav ul a {
	margin: 0;
	padding: 0 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #999;
	line-height: 48px;
	text-decoration: none;
	transition: color 0.25s;
}

nav ul a:hover {
	color: #fafafa;
	text-decoration: none;
}

#menu-trigger {
	display: none;
	background: #444;
	padding: 15px;
}

@media (max-width: 480px) {
nav ul {
	background-color: #111;
	display: none;
}

nav ul li {
	float: none;
	position: relative;
}

nav ul ul {
	position: static;
	display: none;
}

#menu-trigger {
    display: block;
}
}

.email {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #f62053;
}

.index-page-header {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #0447a0;
	text-align: center;
}

.index-page-header h1 {
	padding: 0;
	margin: 0 0 30px 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 38px;
	font-weight: normal;
	color: #fff;
}

.index-page-header p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	line-height: 28px;
}

.services {
	padding-top: 48px;
	padding-bottom: 48px;
	background-color: #fff;
	border-bottom: 1px solid #e6e4e4;
	text-align: center;
}

.services h2 {
	padding: 0;
	margin: 0 0 17px 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #f62053;
}

.services_inner {
	border: 1px solid #eae9e9;
	padding: 26px;
}

.services_img {
	display: block;
}

.services_text {
}

.services_text h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #282828;
}

.web-design {
	padding-top: 48px;
	padding-bottom: 48px;
	background-color: #fff;
}

.web-design h2 {
	padding: 0;
	margin: 75px 0 17px 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #f62053;
}

.web-design p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #777;
}

.see-all {
	padding: 0;
	margin: 10px 0 0 0;
	border: 0;
	background-color: #f62053;
	width: 124px;
	height: 36px;
	border-radius: 2px;
	transition: background-color 0.25s;
	outline: none;
	text-align: center;
}

.see-all a {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	line-height: 34px;
	text-decoration: none;
	display: block;
	height: 100%;
}

.see-all:hover {
	background-color: #cf0132;
}

.tmc {
	padding-top: 48px;
	padding-bottom: 48px;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	text-align: center;
}

.tmc h2 {
	padding: 0;
	margin: 0 0 17px 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #f62053;
}

.graphic-designs {
	padding-top: 48px;
	padding-bottom: 24px;
	background-color: #f4f3f3;
}

.graphic-designs h2 {
	padding: 0;
	margin: 0 0 30px 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #f62053;
}

.boxes {
	padding-bottom: 24px;
}

.boxes a {	
}

.boxes img {
	position: relative;
}

.boxes .btexts {
	position: absolute;
	bottom: 34px;
	left: 26px;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 2px 3px #000;
	transition: bottom 0.25s;
}

.boxes a:hover .btexts {
	bottom: 48px;	
}

.print-designs {
	padding-top: 48px;
	padding-bottom: 24px;
	background-color: #fff;
}

.print-designs h2 {
	padding: 0;
	margin: 0 0 30px 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #f62053;
}

.contact {
	padding-top: 48px;
	padding-bottom: 48px;
	background-color: #f62053;
}

.contact h2 {
	padding: 0;
	margin: 0 0 30px 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #fff;
}

.contact p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	line-height: 22px;
}

.bottom_footer {
	padding-top: 15px;
	background-color: #1b1b1b;
	text-align: center;
}

.bottom_footer a {
	color: #474747;
}
/* Index Page */

/* About Page */
.about {
	padding-top: 48px;
	padding-bottom: 24px;
	background-color: #fff;
}

.about h2 {
	padding: 0;
	margin: 0 0 7px 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #f62053;
}

.about p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #838383;
}
/* About Page */

/* Inner Pages */
.inner-page-header {
	padding-top: 34px;
	padding-bottom: 34px;
	background-color: #0447a0;
	text-align: center;
}

.inner-page-header h1 {
	padding: 0;
	margin: 0 0 20px 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: #fff;
}

.designs {
	padding-top: 48px;
	padding-bottom: 24px;
	background-color: #fff;
}

.designs .row {
	border-bottom: 2px solid #333;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.designs img {
	border: 1px solid #c6c6c6;
}

.designs h2 {
	padding: 0;
	margin: 0 0 7px 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #f62053;
}

.designs p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #838383;
}