@-ms-viewport {
	width: device-width;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}

ol, ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}