<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
{% include nav.html %}

<main>
	<div class="container">
		<div class="row">
			<div class="col-md-10 mx-auto">
				<h1>Hello, I am Sourav Sen from India and I am a <del>nerd</del> Geek. I design &amp; develop websites, do SEO and write <del>boring</del> articles (which no one reads) in my blog.</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 mx-auto">
				<h2>Latest articles</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 mx-auto">
				<h3>WordPress</h3>
				<ul>
					<li><a href="{{site.url}}/wordpress-add-featured-images-support/">How to Add Featured Images Support in WordPress</a></li>
					<li><a href="{{site.url}}/wordpress-seo-checklist/">WordPress SEO Checklist</a></li>
					<li><a href="{{site.url}}/elementor-addons/">Popular Free and Premium Elementor Addons</a></li>
				</ul>				
			</div>
		</div>
	</div>
</main>	

{% include footer.html %}

</body>
</html>
